selenium==4.18.0 # selenium for browser automation
pytest==8.1.1 # pytest for testing framework
pytest-xdist==3.5.0 # pytest-xdist for parallel test execution on Selenium Grid
allure-pytest==2.13.5 # allure-pytest for generating Allure reports
webdriver-manager==4.0.1 # webdriver-manager for automatic browser driver management
python-dotenv==1.0.1 # python-dotenv for environment variable management
requests==2.31.0 # requests library for API calls if needed in hybrid tests
pytest-html
